*{
    margin: 0;
    padding: 0;
    font-family: Century Gothic;
}

header{
    background-image: url(../image0.jpeg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}

ul{
    float: right;
    list-style-type: none;
    margin-top: 25px;
}


ul li{
    display: inline-block;
}

ul li a{
    text-decoration: none;
    color: #fff;
    padding: 5px 20px;
    border: 1px solid #fff;
    transition: 0.6s ease;
}
ul li a:hover{
    background-color: #fff;
    color: #000;
}



.title{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.title h1{
    color: #fff;
    font-size: 70px;
    
}

.button{
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.btn{
    border: 1px solid #fff;
    padding: 10px 30px;
    color: #fff;
    text-decoration: none;
    transition: 0.6s ease;
}

.btn:hover{
    background-color: #fff;
    color: #000;
}

 .text{
     color: white;
    font-size: : 300px;
    position: relative; top: 50%;
    text-align: center;
    text-underline-position: left;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
    text-decoration:none;
    transition: 0.6s ease;

 }

mark{
    background-color: white;
    color: black;

}

p{
    text-shadow: 0 0 3px #000, 0 0 5px #000;
}

.about{
    list-style-type: circle;
}